@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-blue: #6C63FF;
  --clr-blue-2: #4c46b6;
}

body {
  margin: 0;
  font-family: "Play";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(107, 1, 205) 100%);
  background-image: url('space.jpg');
  background-size: 2000px 1000px;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.nav__brand h1 {
  background: -webkit-linear-gradient(rgb(107, 1, 205), #00d2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.75em, 4vw, 2.5em);
  font-weight: 800;
  left: 150px;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  }

  .nav__brand h1:hover{
  background-image: -webkit-linear-gradient( #00d2ff,rgb(107, 1, 205));
    
  }

.nav__brand p{
  position: relative;
  top: 45px;
  right: 110px;
  color: #FFFFFF;
  font-family: 'Michroma', sans-serif;
}

.nav__connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;

  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
 

}

.nav__connect:hover {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

/* ------------------------------------------------------ */
/* -- FORM -- */

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 600px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 0 25px
}

form input[type="text"] {
  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: 1px solid black;
  border-radius: 4px;

  font-size: 1.10em;
}

form input[type="submit"] {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color: white;
  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: none;
  border-radius: 4px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 400;

  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

/* ------------------------------------------------------ */
/* -- IMAGE -- */

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 90%;
  width: 512px;
  height: 512px;
  margin: 0 25px;
  border: 3px solid white;
  border-radius: 10px;  
  overflow: hidden;
}

.image img {
  width: 512px;
  height: 512px;
  border-radius: 6px;
}

.image__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__placeholder p {
  margin: 0 10px;
}


/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }
}



